<div class="container">
  <button class="btn btn-danger" (click)="charactersView()">Back</button>

  <div class="row">
    <div class="col-4">
      <img
        class="img-fluid card"
        src="{{ character.image }}"
        alt="Card image cap"
      />
    </div>
    <div class="col-8">
      <div class="card-body">
        <h4 class="card-title">{{ character.name | uppercase }}</h4>
        <p class="card-title"><b>Status:</b> {{ character.status }}</p>
        <p class="card-title"><b>Species:</b> {{ character.species }}</p>
        <p class="card-title"><b>Gender:</b> {{ character.gender }}</p>
        <p class="card-title"><b>Origin:</b> {{ character.origin }}</p>
        <div class="buttons">
          <button class="btn btn-primary" (click)="editCharacter()">Edit</button>
          <button class="btn btn-danger" (click)="deleteCharacter()">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
